@charset "utf-8";
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

/* base */
*{margin: 0; padding: 0;}
body{font:18px "Noto Sans KR"; max-width: 1800px; margin: 0 auto;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
/* base end */

/* header */
header{height: 50px; padding: 20px;}
.logo{float: left; padding: 0 20px; line-height: 50px; text-align: center; font-family: "Pattaya"; font-weight: bold;}
#gnb{list-style: none;}
#gnb li{float: left; width: 250px; }
#gnb li:hover>a{color: rgb(47, 114, 168);}
#gnb>li a{display: block; line-height: 50px; text-align: center; font-weight: bold;}
.login_btn{float: right;}
.login_btn a{display: block; width: 100px; height: 50px; line-height: 50px; text-align: center; font-weight: bold;}
/* header end */

/* container */
#container{max-width: 1500px; margin: 0 auto; padding: 30px;}
.con{display: none;}
.active{display: block;}
.scroll-top{position: fixed; right: 20px; bottom: 20px; z-index: 100; background: #999; opacity: .8; width: 50px; height: 50px; border-radius: 50%; border: none;}
.scroll-top:hover{cursor: pointer;}
.fixed_list{position: fixed; right: 200px; top: 150px; width: 230px; padding: 20px; background: #fff; border: 2px solid #999;}
.sub_list{margin: 5px 0 20px 0; font-size: 15px;}
h2{margin: 30px 0;}
h3::before{content: '✔'; clear: both; padding-right: 10px;}
h3{margin: 20px 0;}
.explan_list{list-style-type: disc;}
table{margin-top: 20px;}
tr{height: 40px;}
th{background-color: lightgrey;}
td{padding: 0 10px; background-color: #f8f4e8;}
.ex_img{margin: 20px 0;}
.dif_img img{width: 590px; height: 90px; margin: 20px;}
ol{margin-left: 30px;}
/* container end */

/* footer */
footer>p{text-align: center; padding: 20px; font-size: 14px;}
/* footer end */